.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f5f3f3;
  border-radius: 4px;
  background: #222021;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #f8df00;
  border-color: white;
  color: #292929;
}

.button--follow {
  background-color: dodgerblue;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.button--follow:hover {
  background: lightskyblue;
  border-color: #fcfafb;
  color: white;
}

.button--disabled {
  background: #868583;
  pointer-events: none;
}

.button--disabled:hover {
  pointer-events: none;
}
