.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f5f3f3;
  border-radius: 4px;
  background: #222021;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #868583;
  border-color: #fcfafb;
}

.button--follow {
  background-color: dodgerblue;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.button--follow:hover {
  background: lightskyblue;
  border-color: #fcfafb;
}
