
.post-item {
    margin-right: 2rem ;
    margin-left: 2rem ;
    margin-bottom: 2rem ;
    margin-top: 2rem ;
    height: 37rem;
    width: 20rem;
  }
  
  .post-item  a{
    text-decoration: none;
    color: #292929;
    padding: 0.5rem;
  }
  
  
  .post-item__content {
    padding: 0;
  }
  
  .post-item__info {
    padding: 1rem;
    text-align: center;
    height:7rem;
  }
  
  .post-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
  }
  
  .post-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .post-item__info h2,
  .post-item__info h3,
  .post-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .post-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .post-item__modal-content {
    padding: 0;
  }
  
  .post-item__modal-actions {
    text-align: right;
  }
  
  .post-item__actions button,
  .post-item__actions a {
    margin: 0.5rem;
  }
  
  .map-container{
      height:20rem;
      width:100%;
  }
  
  @media (min-width: 768px) {
    .post-item__image {
      height: 20rem;
    } 
  }

  .center{
    margin-top: 0.2rem;
  }

.comment-item{
  width:58%;
  margin-bottom:2rem;
  position: relative;  
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.comment-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.comment-title  a{
  text-decoration: none;
  color: black;
}

.comment-name{
  font-size:1.5em;
}
.comment-content{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size:1.2em;
}
.comment-time{
  color:rgb(144, 143, 143)
}